.main {
    width: 600px;
    margin: auto;
    background-color: #303E47;
    padding-bottom: 70px;
}
.obes {
    font-size: 48px;
    font-weight: 600;
    text-align: left;
    color: #FF595C;
    font-family: sans-serif;
}
.child {
    text-align: left;
    color: white;
    font-weight: 600;
    font-family: sans-serif;
}
header {
    padding-top: 56px;
    text-align: center;
    height: 117px;
  position: relative;
  top: -19px
}
span {
    display: inline-block;
}
.over{
  text-align:center;
  margin-top:-20px;
  color:white;
}
.main_head{
  width:584px;
  height:340px;
  margin-top:320px;
  margin-left:10px;
  background:red;
}
.main_head_left>h1{
  text-align:center;
  font-weight:1700;
  color:white;
  margin-top:5px;
}
.main_head_left{
  width:292px;
  height:340px;
  background:orange;
  margin-left:0px; 
  margin-top:-340px;
}
.main_head_left>p{
  line-height:0.1px;
  text-align:center;
  color:white;
}
.main_head_left>img{
  margin-top:20px;
  margin-left:80px;
  width:40%;
  border-radius:0%;
  height:60px;
}
.estimate{
  padding-top:19px;
}
.est{
  text-align:center;
  margin-top:-10px;
  color:white;
  font-size:27px;
  letter-spacing:4px;
  font-weight:700;
}
.para{
  text-align:center;
  color:white;
}
.est+p{
  margin:0;
}
.est+p+p{
  margin:12px;
}
.week{
  text-align:center;
  margin-top:-6px;
  color:white;
  font-size:29px;
  letter-spacing:2px;
}
.week+p{
  margin:0
}
.week+p+p{
  margin:19px;
}
.week+p+p+p{
  margin:10px;
}
.main_head_right{
  width:292px;
  height:340px;
  background:#74b1f2;
  margin-left:292.5px; 
  margin-top:-340px;
  
}
.main_head_right>p{
   margin-top:38px;
  padding-top:10.9px;
}
.obs{
  
  width:584px;
  height:240px;
  background:#f05454;
  margin-top:40px;
  margin-left:10px;
  
}
.obs1{
  color:white;
  margin-left:40px;
  width:292px;
  height:110px;
  padding-top:3px;
}
.obs2{
  color:white;
  width:292px;
  height:110px;
  margin-left:310px;
  margin-top:-110px;
  line-height:0.1em;
  padding-top:16px;
}
.obs3{
  color:white;
  margin-left:30px;
  margin-top:-12px;
}
.risky{
  width:584px;
  height:270px;
  margin-top:65px;
 margin-left:10px;
}
.risk{
  padding-top:1px;
  color:white;
  margin-left:26px;
}
.risk_rightpara{
  margin-top:105px;
  padding-top:79px;
  color:white;
}
.risk_left{
  width:292px;
  height:270px;
  background:#74b1f2;
  margin-top:-20px;
  color:white;
  padding-left:19px;
}
.risk_right{
  width:292px;
  height:270px;
  background:#74b1f2;
  margin-top:-375px;
  margin-left:292px; 
}
.french{
  width:584px;
  height:310px;
  background:red;
  margin-top:65px;
  margin-left:10px;
}
.french_left{
   width:292px;
  height:310px;
  background:#f05454;
  margin-top:-19.8px;
  color:white;

}
.fries{
  color:white;
  text-align:center;
  padding-top:7px;
}
.para>h1{
  font-size:40px;
  padding-top:1px;
  
}
.image{
  font-size:40px;
  margin-top:6px;
  text-align:center;
}
.french_right{
   width:292px;
  height:310px;
  background:orange;
  margin-left:292px;
  margin-top:-336.9px;
  color:white;
}
.para{
  text-align:center;
}
.image1{
  font-size:40px;
  text-align:center;
}
.juice{
  text-align:center;
  color:white;
  padding-top:-15px;
  padding-left:10px;
  letter-spacing:1.5px;
}
.juice~h1{
  font-size:39px;
}
.tod{
  width:585px;
  height:180px;
  background:#74b1f2;
  margin-top:45px;
  margin-left:10px;
}
.toddy{
  margin-left:15px;
  margin-top:-90px;
  color:white;
  font-size:39px;
  letter-spacing:2px;
}
.tod_para{
  margin-left:20px;
  margin-top:-10px;
  color:white;
}
.near{
  width:585px;
  height:180px;
  background:orange;
  margin-top:45px;
  margin-left:10px;
}
.last_section{
 
  width:584px;
  height:310px;
  margin-top:75px;
  margin-left:10px; 
  color:white;
}

.billion_left{
  width:292px;
  height:310px;
  background:#74b1f2;
  margin-top:-4.5%;
}
.money{
  padding-top:7px;
  text-align:center;
  font-size:39px;
  color:white;  
}
.health_right{
  width:292px;
  height:310px;
  background:#f05454;
  margin-left:291.9px;
  margin-top:-330px;
}
.health{
  color:white;
  margin-left:15px;
  padding-top:15px;
}
.billion_left>p{
  text-align:center;
}

ul{
  color:white;
  list-style-type:none
}
